<!DOCTYPE html>

<html>

   <head>
      <title>File Metadata</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/form.min.css" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/button.min.css" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/grid.min.css" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/input.min.css" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/segment.min.css" />
            <scr
   </head>

   <body>

    <div class="ui middle aligned center aligned grid container">
      <div class="ui fluid segment">
          <input type="file" (change)="fileEvent($event)" class="inputfile" id="embedpollfileinput" />
          <label for="embedpollfileinput" class="ui teal right floated button">
            <i class="ui upload icon"></i> 
            Upload image
          </label>
        </div>
      </div>

  </body>

</html>
